---
---
@charset "utf-8"	
@import 'reset.sass', '_native.sass'
body
	background-color: #f4f6f6
	font-family: 'Play', sans-serif
	font-size: 14px
	font-weight: 400
	line-height: 1.4
	width: 100%
	height: 100vh
	color: #27332C

a
	color: #44B39D
	text-decoration: none
	&:visited
		color: #44B39D
	&:hover
		color: #8ea6b2





// HEADER
header
	display: flex
	color: #BACDD9
	justify-content: space-between
	align-items: center
	padding: 20px 70px
	background-color: #3B3C3D
	a
		color: #BACDD9
		&:visited
			color: #BACDD9
		&:hover
			color: #DCEAF2
	


// LOGO
.logo
	a
		font-size: 22px
		color: #9DABA2
		&:visited
			color: #9DABA2
		&:hover
			color: #fff




// POST
.post-item
	background-color: #ffffff
	width: 820px
	height: 100%
	margin: 10px auto
	border-radius: 10px
	border: 1px solid #d8d8d8
	overflow: hidden
	&_content
		padding: 10px 20px
	&__data
		display: block
		font-size: 14px
		margin: 10px
	&__content
		img
			width: 100%
	
// POST TITLE

.post-link
	font-size: 26px
	font-weight: 400
	
	
// PAGES

.post
	background-color: #ffffff
	display: block
	margin: 20px auto
	width: 820px
	padding: 20px
	border: 1px solid #eee

	

// IMG COVER

.post_image_cover
	width: 100%
	height: 350px
	display: block
	background-size: cover
	background-position: center center
	&:hover
		filter: opacity(30%)

// MORE...

.expert-post-link
	padding: 2px
	border-radius: 5px
	color: #ffffff

// LIGHET CODE

.highlight
	border: 1px solid #DFDFDF

// FOOTER

.footer
	justify-content: space-between
	margin-top: 15%
	color: #c3ccd3
	background-color: #3B3C3D
	text-align: center
	// padding: 50px
	&_col
		display: flex
		// padding: 0 20px
		align-items: center
		justify-content: space-between
		&_item
			display: inline-block
	justify-content: space-between
			width: 250px
			height: 100%
	
	// TAGs

.tags
	color: #E6567A
	
.highligher-rouge
	color: #DCDCDC